
/*breakpoint*/

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

/*colors*/

$main-color: #FFFFFF;
$color-main: #B3B3BA;

/*font*/
$font-family:'Montserrat';
$font-style: normal;
$font-weight: 700;
